@import '../../../assets/scss/utils/theme';

:host {

    .tsmp-pagination {
        display: flex;
        flex-direction: row;
        list-style-type: none;

        li {
            padding: 0 .25rem;
            line-height: 2rem;
            cursor: pointer;
        }
    }
}

:host-context(.dark) {
    .tsmp-pagination li {
        background-color: color(darken, 'background');
        color: color(darken, 'color')
    }
}

:host-context(.light) {
    .tsmp-pagination li {
        background-color: color(lighten, 'background');
        color: color(lighten, 'color');
    }
}
