@import "../../../assets/scss/function/theme-color";

:host {

    .tsmp-pagination {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: center;
        align-items: center;

        li {
            padding: 0 .5rem;
            line-height: 1.5rem;

            &.clickable {
                cursor: pointer;
            }

            &:first-child {
                border-left-width: 1px;
                border-radius: 3px 0 0 3px;
            }

            &:last-child {
                border-right-width: 1px;
                border-radius: 0 3px 3px 0;
            }

            &.active {
                font-weight: bold;
            }
        }
    }

    .nav-btn {

        &:not(.disabled) {
            cursor: pointer;
        }

        &.disabled {
            opacity: .3;
        }
    }
}

:host-context(.light) {

    .tsmp-pagination li {
        background: resolveColor(light, background);
        color: resolveColor(light, color);
    }
}

:host-context(.dark) {

    .tsmp-pagination li {
        background: resolveColor(dark, background);
        color: resolveColor(dark, color);
    }
}
