
:host {

    ul {
        margin: 0;
        padding: 0;
    }

    li[tsmpNavigableListItem] {

        box-sizing: border-box;

        &:focus {
            background: #8D8D8D;
            outline: none;
        }
    }
}